<!-- Partial Submit Form Jobs Info -->
<div class="form-row">
	<div class="input-group input-group mb-1 col-md-6">
		<div class="input-group-prepend">
		 <span class="input-group-text" id="inputGroup-sizing-sm"><i class="fa fa-user" aria-hidden="true"></i></span>
		</div>
		 <input type="text" name="jobs_name" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" placeholder="name" required>
	</div>

	<div class="input-group mb-1 col-md-6">
	  <div class="input-group-prepend">
	    <label class="input-group-text" for="inputGroupSelect01"><i class="fa fa-magic" aria-hidden="true"></i></label>
	  </div>
	  <select class="custom-select" id="inputGroupSelect01" name="jobs_weapon" required>
	    <option disabled selected>Weapon...</option>
	    <option value="1">1</option>
	    <option value="2">2</option>
	    <option value="3">3</option>
	    <option value="4">4</option>
	    <option value="5">5</option>
	  </select>
	</div>
</div>

<div class="input-group input-group mb-1">
  <div class="input-group-prepend">
    <span class="input-group-text"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></span>
  </div>
  <textarea class="form-control" aria-label="With textarea" placeholder="description" name="jobs_description" required></textarea>
</div>

<div class="input-group input-group mb-1">
  <div class="input-group-prepend">
    <span class="input-group-text"><i class="fa fa-book" aria-hidden="true"></i></span>
  </div>
  <textarea class="form-control" aria-label="With textarea" placeholder="Job Quest" name="jobs_quest" required></textarea>
</div>

<div class="form-row">
<div class="input-group input-group mb-1 col-md-6">
	<div class="input-group-prepend">
	 <span class="input-group-text" id="inputGroup-sizing-sm"><i class="fa fa-fire" aria-hidden="true"></i></span>
	</div>
	 <input type="text" name="jobs_element" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" placeholder="element" required>
</div>

	<div class="input-group mb-1 col-md-6">
	  <div class="input-group-prepend">
	    <label class="input-group-text" for="inputGroupSelect01"><i class="fa fa-star" aria-hidden="true"></i></label>
	  </div>
	  <select class="custom-select" id="inputGroupSelect01" name="jobs_rating" required>
	    <option disabled selected>Rating...</option>
	    <option value="1">1</option>
	    <option value="2">2</option>
	    <option value="3">3</option>
	    <option value="4">4</option>
	    <option value="5">5</option>
	  </select>
	</div>
</div>

<div class="form-row">
	<div class="input-group mb-1 col-md-6">
	  <div class="input-group-prepend">
	    <label class="input-group-text" for="inputGroupSelect01"><i class="fa fa-hand-rock-o" aria-hidden="true"></i></label>
	  </div>
	  <select class="custom-select" id="inputGroupSelect01" name="damage_type" required>
	    <option disabled selected>Damage...</option>
	    <option value="1">1</option>
	    <option value="2">2</option>
	    <option value="3">3</option>
	    <option value="4">4</option>
	    <option value="5">5</option>
	  </select>
	</div>

	<div class="input-group mb-1 col-md-6">
	  <div class="input-group-prepend">
	    <label class="input-group-text" for="inputGroupSelect01"><i class="fa fa-hand-paper-o" aria-hidden="true"></i></label>
	  </div>
	  <select class="custom-select" id="inputGroupSelect01" name="defense_type" required>
	    <option disabled selected>Defense...</option>
	    <option value="1">1</option>
	    <option value="2">2</option>
	    <option value="3">3</option>
	    <option value="4">4</option>
	    <option value="5">5</option>
	  </select>
	</div>
</div>

<div class="input-group input-group mb-1">
	 <div class="input-group-prepend">
	    <span class="input-group-text"><i class="fa fa-link" aria-hidden="true"></i></span>
	  </div>
	  <textarea class="form-control" aria-label="With textarea" placeholder="Chain Effect" name="chain_effect" required></textarea>
	</div>

	<div class="input-group mb-1">
	  <div class="input-group-prepend">
	    <label class="input-group-text" for="inputGroupSelect01"><i class="fa fa-tag" aria-hidden="true"></i></label>
	  </div>
	  <select class="custom-select" id="inputGroupSelect01" name="category" required>
	    <option disabled selected>Category...</option>
	    <option value="expend">expend</option>
	    <option value="housing">housing</option>
	    <option value="tool">tool</option>
	    <option value="gear">gear</option>
	  </select>
	</div>
</div>

<!-- End of Partial Submit Info -->